@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<div class="container-fluid container-fixed-lg">
    <div class="col-sm-12">
        <h3 style="color:rgb(114, 105, 114) ;">
            <b>About Us</b>
        </h3>
        <div class="col-md-12">
            <p style="text-align:justify;background-color:snow;padding:20px;border-radius:20px">
                We're a small but dedicated team of creative individuals who decided to start making video games together at the beginning of 2013. We've since gone onto
                create Lunar Panda for the Raspberry Pi, which is available as a free download along with the complete source code for those interested in learning about
                games programming.
            <br />
                We just released our first ever mobile game. Gimpy Bomber is now available on iOS and Android.
                <center><img style="text-align:justify;width:250px" src="~/Content/Images/team.png"></center>
            </p>
        </div>
    </div>
</div>
