
@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<div class="container-fluid container-fixed-lg">

    <div class="col-sm-12">
        <h3 style="color:rgb(114, 105, 114) ;">
            <b>Contact Us</b>
        </h3>
        <div style="height:20px"></div>
        <div class="col-md-8" style="border-radius:20px;background-color:snow;padding:20px">
            <div class="row">
                <div class="col-md-4">
                    <b>Phone:</b>
                </div>
                <div class="col-md-8">
                    Main: 425.555.0100<br />
                    After Hours: 425.555.0199
                </div>
            </div><br />
            <div class="row">
                <div class="col-md-4">
                    <b>Email:</b>
                </div>
                <div class="col-md-8">
                    contact@gimpysoftware.com
                </div>
            </div><br />
            <div class="row">
                <div class="col-md-4">
                    <b>Address</b>
                </div>
                <div class="col-md-8">
                    One Microsoft Way<br />
                    Redmond, WA 98052-6399
                </div>
            </div>
        </div>
        
    </div>
</div>
